.Form input {
    background-color: var(--color-black-20);
    border-radius: 4px;
    height: 40px;
    padding: 8px 16px 10px 16px;
    line-height: 22px;
    opacity: 0.5;
    color: red !important;
}
